.modal-color {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.5);
    display: none;
    z-index: 101;
}

.modal__content-color {
    padding: 25px;
    background-color: #fff;
    border-radius: 16px;
    width: 500px;
    height: 350px;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.9);
}

.modal-color.act {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-add-color h1 {
    text-align:  center;
}

.info-color {
    margin-top: 20px;
    text-align: center;
}

.info-color input {
    border: 1px solid silver;
    border-radius: 5px;
    width: 250px;
    height: 35px;
    padding: 5px 10px;
    font-size: 16px;
}

.info-color div {
    margin-top: 10px;
}

.info-color div button {
    background: transparent;
    border: 1px solid silver;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    cursor: pointer;
    font-size: 17px;
}

.info-color div button:hover {
    background: black;
    color: #fff;
}