.modal-form-buy {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.5);
    display: none;
    z-index: 101;
}

.modal-form-buy.act {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content-form-buy {
    padding: 25px;
    background-color: #fff;
    border-radius: 16px;
    width: 500px;
    height: 400px;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.9);
    display: flex;
    justify-content: center;
}

.model-block h2 {
    margin-bottom: 40px;
}

.block-buy {
    display:table-caption;
    justify-content: center;
}

.block-buy input {
    width: 300px;
    height: 40px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.block-buy-btn {
    display: flex;
    justify-content: center;
}

.block-buy-btn button {
    width: 200px;
    height: 40px;
    font-size: 17px;
    border: 2px solid silver;
    border-radius: 5px;
    background: #fff;
}

.block-buy-btn button:hover {
    background: black;
    color: #fff;
    border: 2px solid black;
    cursor: pointer;
}
