.section-admin {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.section-product {
    width: 320px;
}

.title__product {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

.section-option {
    margin-bottom: 10px;
}

.section-option select {
    width: 150px;
    height: 30px;
    padding: 0 2px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.section-option select option {
    font-size: 14px;
}

.info-product {
    display: table-caption; 
}

.inp__product input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 16px;
}

.btn__parameter {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.btn__parameter button {
    width: 220px;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid silver;
    background-color: #fff;
    cursor: pointer;
}

.btn__parameter button:hover {
    background-color: black;
    color: #fff;
    transition: all 0.3s ease;
}

.btn__product-add {
    display: flex;
    justify-content: center;
}

.btn__product-add button {
    width: 140px;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid silver;
    background-color: #fff;
    cursor: pointer;
}

.btn__product-add button:hover {
    background-color: black;
    color: #fff;
    transition: all 0.3s ease;
}

.block__info-product div  {
    font-size: 18px;
} 

.block__info {
    display: flex;
}

.block__info button {
    margin-left: 20px;
    background: transparent;
    border: 0px;
    cursor: pointer;
}

.block__info span:nth-child(2) {
    margin-left: 5px;
}

.info-brand-type {
    display: table-caption;
    width: 250px;
}

.title-brand-type {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

.btn-brand-type {
    display: flex;
    justify-content: center;
}

.info-brand-type input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 16px;
}

.info-brand-type button {
    width: 140px;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid silver;
    background-color: #fff;
    cursor: pointer;
}

.info-brand-type button:hover {
    background-color: black;
    color: #fff;
    transition: all 0.3s ease;
}

.error__admin-panel {
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 30px;
}

.error__text {
    display: flex;
    justify-content: center;
    font-size: 17px;
}
