.user__form {
    width: 400px;
    height: 300px;
    margin-top: 30px;
}

.user__auth-reg-input {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.user__auth-reg-input input {
    width: 250px;
    height: 25px;
    padding: 5px 10px;
}

.user__auth-reg-btn {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.user__auth-reg-btn button {
    width: 200px;
    height: 35px;
    cursor: pointer;
}

.user__auth-reg-div {
    display: flex;
    justify-content: center;
    margin: -10px;
    text-decoration: underline;
    cursor: pointer;
}