*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(230,230,250);
    min-height: 80px;
    font-family: Gill Sans, sans-serif;
}

.logo {
    color: black;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.navbar__links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}


.navbar__links li a {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
}

.navbar__links li a:hover {
    border-bottom: 2px solid black;

}

.active {
    border-bottom: 2px solid black;
}

.btn__exit {
    font-size: 17px;
    cursor: pointer;
    text-transform: uppercase;
}

/* Product */

section {
    padding: 4rem 0 3rem;
}

.shop {
    max-width: 1150px;
    margin: auto;
    width: 100%;
}

.product__content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    gap: 1.5rem;
}

.product__box {
    position: relative;
}

.product__box:hover {
    padding: 5px;
    transition: 0.4s;
}

.product__img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product__name {
    margin-bottom: 0.5rem;
}