.page__category {
    margin-top: 7rem;
}

.shop__conteier-catgory {
    max-width: 1150px;
    margin: auto;
    width: 100%;
    padding: 0rem 1rem 3rem;
}

.products__content-categor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 25px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.section-category {
    margin: 0 1rem;
}

.brands {
    padding: 0 0 1rem;
    margin-bottom: 1rem; 
    border-bottom: 1px solid silver;
}

.types {
    padding: 0 0 1rem;
    margin-bottom: 1rem; 
    border-bottom: 1px solid silver;
}

.category-title {
    margin-bottom: 0.3rem;
}
