.category {
    margin-top: 7rem;
    padding: 3rem 0 3rem;
}

.btn-filters {
    color:black;
    text-decoration:none;
}

.btn-filters:hover {
    color: black;
    text-decoration: underline;
}

/* bootstrap */

.section-category {
    margin: 0 1rem;
}

.brands {
    padding: 0 0 1rem;
    margin-bottom: 1rem; 
    border-bottom: 1px solid silver;
}

.types {
    padding: 0 0 1rem;
    margin-bottom: 1rem; 
    border-bottom: 1px solid silver;
}

.category-title {
    margin-bottom: 0.3rem;
}
