header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
}

.logo button {
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.navbar__links {
    display: flex;
    justify-content: space-around;  
    align-items: center;
    width: 60%;
}

.navbar__links li a {
    color: rgb(50, 50, 50);
    font-size: 17px; 
}

.navbar__links li a:hover {
    font-weight: 600;
    color: black;
}

.link-home {
    text-align: center;
    width: 100px;
}

.link-products {
    text-align: center;
    width: 120px;
}

.link-category {
    text-align: center;
    width: 130px;
}

.link-news {
    text-align: center;
    width: 110px;
}

.link-exit {
    text-align: center;
    width: 100px;
}

.dropbtn {
    text-align: center;
    width: 120px;
}

.active {
    color: black;
    font-weight: 600;
}

.btn__exit {
    cursor: pointer;
    color: rgb(50, 50, 50);
    font-size: 17px;
}

.btn__exit span:hover {
    font-weight: 600;
    color: black;
}

.nav-icons-leng {
    display: flex;
    align-content: center;
}

.nav-icons-leng .bx{
    font-size: 22px;
    color: rgb(50, 50, 50);
    cursor: pointer;
    margin-left: 15px;
}

.nav-icons-leng .bx:hover {
    color: black;
    transition: all 0.3s ease;
}

.block-lang {
    margin-left: 25px;
}

.option-lang {
    cursor: pointer;
    border: none;
    font-size: 14px;
}

.cart {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    color: rgb(50, 50, 50);
}

.cart span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:-12px;
    right: -9px;
    font-size: 15px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: rgb(50, 50, 50);
    color: white;
    padding: 4px;
}

.dropbtn {
    font-size: 17px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background: #fff;
}

.dropdown-content li a {
    font-size: 16px;
}

.dropbtn:hover {
    font-weight: 600;
}

.dropdown-content a {
    color: rgb(50, 50, 50);
    padding: 10px 0 5px 0;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: black;
}
