header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
}

.logo button {
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.navbar__links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navbar__links li a {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
}

.navbar__links li a:hover {
    border-bottom: 2px solid black;
}

.active {
    border-bottom: 2px solid black;
}

.btn__exit {
    font-size: 17px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn__exit span:hover {
    border-bottom: 2px solid black;
}

.nav-icons .bx{
    font-size: 22px;
    color:black;
    cursor: pointer;
    margin-left: 15px;
}

.nav-icons .bx:hover {
    color: silver;
}

#menu-icon {
    display: none;
}

.cart {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    color: black;
}

.cart span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:-12px;
    right: -9px;
    font-size: 15px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: black;
    color: white;
    padding: 4px;
}

.navbar li ul {
    position: absolute;
    min-width: 150px;
    display: none;
}

.navbar li:hover ul {
    display: block;
}
