.form-new-password{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .title {
    font-size: 35px;
    letter-spacing: 15px;
    text-align: center;
}

.form .info  {
    width: 250px;
    text-align: center;
    color: rgb(155, 155, 155);
    margin-top: 5px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 300px;
    margin-top:30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid silver;
    border-top:2px solid transparent;
}

.input-field input:focus {
    border-bottom-color: black;
    transition: all 0.3s ease;
}

.input-field i {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color:silver;
    font-size: 23px;
}

.input-field input:focus ~ i {
    color: black;
    transition: all 0.3s ease;
}

.input-field i .icon {
    left: 0;
}

.input-field i.eye {
    right: 0;
}

.input-field i.eye button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 23px;
    color: silver;
}

.input-field i.open button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 26px;
    color: silver;
}

.input-field i.eye button:hover {
    color:black;
}

.form .text {
    color:#333;
    font-size: 14px;
}

.form a.text {
    color: blue;
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;
    transition: all 0.3s ease;
}

.form .button {
    margin-top: 30px;
}

.form .sign {
    margin-top: 50px;
}

.form .button input {
    border: none;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid silver;
}

.button input:hover {
    background-color: black;
    color:#fff;
    transition: all 0.3s ease;
} 

.login-signup {
    margin-top: 20px;
    text-align: center;
}

