.orders {
    padding: 2rem 2rem;
    margin-top: 6rem;
}

.orders-title {
    text-align: center;
}

.orders-client-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.item-content {
    display: flex;
    border: 2px solid silver;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 700px;
    height: 50px;
    padding: 10px;
}

.item-content:hover {
    border: 2px solid black;
    transition: all 0.3s ease;
}

.item-id {
    width: 50px;
}

.item-name {
    width: 300px;
}

.item-date {
    text-align: center;
    width: 200px;
}

.item-status {
    text-align: end;
    width: 120px;
}

.item-content span {
    font-size: 17px;
}

.orders-item {
    display: flex;
}

.orders-item button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid silver;
    background: transparent;
    font-size: 17px;
    margin-left: 10px;
    cursor: pointer;
}

.orders-item button:hover {
    background: black;
    color: #fff;
    border: 2px solid black;
    transition: all 0.3s ease;
}

.order {
    padding: 2rem 2rem;
    margin-top: 5rem;
}

.order div h2 {
    text-align: center;
}

.order-container {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 2fr 5fr;
    column-gap: 3rem;
    margin-top: 2rem;
}

.order-client {
    display: grid;
}

.order-client span {
    margin-top: 10px;
}

.order-client span {
    font-size: 17px;
}

.client-date {
    border-bottom: 1px solid silver;
    padding: 0 0 20px;
}

.client-name {
    border-bottom: 1px solid silver;
    padding: 0 0 20px;
}

.client-phone {
    border-bottom: 1px solid silver;
    padding: 0 0 20px;
}

.client-count-product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid silver;
    padding: 0 0 20px;
}

.client-count-product .clinet-count {
    margin-left: 100px;
    font-weight: 600;
}

.order-total-sum {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.order-total-sum .order-client-sum {
    font-size: 17px;
    font-weight: 600;
    margin-left: 109px;
}

.order-btn-status {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.order-accept {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid silver;
    font-size: 17px;
    cursor: pointer;
}

.order-accept:hover {
    background: black;
    color: #fff;
    transition: all 0.3s ease;
}

.order-cancel {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid silver;
    font-size: 17px;
    cursor: pointer;
}

.order-cancel:hover {
    background: black;
    color: #fff;
    transition: all 0.3s ease;
}

.order-products-box {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-row: 2rem;
}

.order-produtc-body {
    text-align: center;
    width: 280px;
}

.order-produtc-img {
    width: 280px;
    height: 280px;
}

.order-product-item {
    margin-bottom: 1rem;
}