.product {
    margin: auto;
    width: 100%;
    padding: 0rem 1rem 3rem;
    margin-top: 8rem;   
}

.grid-product {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 2.2fr 1fr;
    column-gap: 3rem;
    margin-top: 2rem;
}

.product-items {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-row: 4rem;
}

.product-img img {
    width: 420px;
    height: auto;
}

.comments {
    width: 600px;
    margin-top: 20px;
}

.comments-add {
    display: flex;
    align-items: center;
}

.comments-add input {
    width: 250px;
    height: 40px;
    padding: 5px 10px;
    margin-right: 25px;
    border: 1px solid silver;
    border-radius: 5px;
}

.comments-add button {
    width: 140px;
    height: 40px;
    font-size: 16px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid silver;
    cursor: pointer;
}

.comments-add button:hover {
    background:black;
    color: white;
}

.comment-body {
    margin-top: 20px;
}

.comment-delete {
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 16px;
    margin-left: 20px;
}

.comment-delete:hover {
    color: red
}

.comments h1 {
    margin-bottom:10px;
}

.items-color {
    margin-top:20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.item-color {
    margin-right: 10px;
    width: 25%;
}

.item-color button {
    background: transparent;
    border: 1px solid silver;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    margin-top:10px;
}

.item-color button:focus {
    border: 1px solid black;
}

.item-color button:hover {
    border: 1px solid black;
    border-radius: 5px;
}


.items-size {
    margin-top:30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.item-size {
    width: 20%;
}

.item-size button {
    background: transparent;
    border: 1px solid silver;
    border-radius: 5px;
    width: 50px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.item-size button:focus {
    border: 1px solid black;
}

.item-size button:hover {
    border: 1px solid black;
    border-radius: 5px;
}

.btn-add-basket {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

.btn-add-basket button {
    background: transparent;
    border: 1px solid silver;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.btn-add-basket button:hover {
    background:black;
    color:#fff;
    border: 2px solid black;
    border-radius: 5px;
}