.shop {
    max-width: 1150px;
    margin: auto;
    width: 100%;
    padding: 3rem 0 3rem;
    margin-top: 5rem;
}

.section-title {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 22px;
}

.products__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 25px;
}

.products__content a {
    color:black
}

.products__box {
    position: relative;
}

.products__img {
    width: 270px;
    height: 320px;
    margin-bottom: 5px;
}

.products__name {
    margin-bottom: 10px;
    color: black;
}

.block__price-buy {
    display: flex;
    justify-content: space-between;
}

.block__price-btn {
    display: flex;
    justify-content: space-between;
}

.btn-add-color {
    background:transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

.btn-add-color:hover {
    color: blue;
    transition: all 0.3s ease;
}

.btn-add-image {
    background: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

.btn-add-image:hover {
    color: green;
    transition: all 0.3s ease;
}

.block__btn-basket {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-delete-product{
    cursor: pointer;
    font-size: 28px;
    background: transparent;
    border: none;
}

.btn-delete-product:hover {
    color: red;
    transition: all 0.3s ease;
}

.btn__basket {
    font-size: 28px;
    background: transparent;
    border: 0px;
    cursor: pointer;
    color: black;
}

.selected {
    color: orange;
}

.btn__basket:hover {
    color:orange;
    transition: all 0.3s ease;
}

.page__wrapper{
    margin-top: 30px;
    display: flex;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1px;
}

.page__current {
    border: 2px solid black;
    font-weight: bold;
}

.page:hover {
    border: 2px solid black;
    font-weight: bold;
    transition: all 0.3s ease;
}
