.statistics-shop {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistics-shop div {
    width: 98%;
    height: auto;
}

.statistics-shop div h1 {
    text-align: center;
}
